@import url("navbar-styles.css");

body {
  background-image: radial-gradient(#1b232b, #000);
  background-repeat: no-repeat;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1.8rem;
}

.admin-users-table {
  background-color: white;
  border-radius: 1rem;
  color: black;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 7%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
  overflow: auto;
}

.basic-users-table {
  background-color: white;
  border-radius: 1rem;
  color: black;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 7%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
  overflow: auto;
}

/* Responsive CSS */
@media (max-width: 768px) {
  body {
    background-color: black;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 1.8rem;
  }
}
