<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sharni">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/welcome-styles.css">

    <title>Infinity and Beyond</title>
</head>

<body class="container-fluid">

    <!-- Welcome Section -->
    <div class="welcome-container">
        <h1 class="title">Infinity and Beyond</h1>
        <p class="title-content mt-4">A web based IoT management application for your smart building.</p>
        <div class="row mx-5 px-4">
            <div class="col-md-6 mt-3 welcome-register">
                <button id="goToRegister" class="btn btn-outline-light btn-lg w-100 fs-5 text-center">Register</button>
            </div>
            <div class="col-md-6 mt-3 mb-5 welcome-login">
                <button id="goToLogin" class="btn btn-outline-light btn-lg w-100 fs-5 text-center">Login</button>
            </div>
        </div>
    </div>
    <!-- End of Welcome Section -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Custom Script -->
    <script src="/js/welcome-app.js"></script>
</body>

</html>